# Traefik 3.x - SF-1 Ultimate API Gateway

global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: INFO
  format: json

accessLog:
  format: json
  fields:
    headers:
      defaultMode: keep

api:
  dashboard: true
  insecure: false

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
  
  metrics:
    address: ":8082"

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@seedfinderpro.de
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
  
  kubernetes:
    endpoint: ""
    namespaces:
      - services
      - default
